# zEye / Agent DVR local config
TZ=Asia/Bangkok
PUID=1000
PGID=1000
AGENTDVR_WEBUI_PORT=9292
AGENTDVR_HOST_PORT=9292
USB_VIDEO_DEVICE=/dev/video0
ZEYE_DATA_DIR=/opt/zeye/agentdvr
LAN_HOST=192.168.1.101
PUBLIC_HOSTNAME=cctv.zeaz.dev
