[Unit]
Description=zEye Agent DVR
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker compose -f /opt/zeye/docker-compose.yml up
ExecStop=/usr/bin/docker compose -f /opt/zeye/docker-compose.yml down

[Install]
WantedBy=multi-user.target
